@import "tailwindcss";
@import "./fonts.css";

@theme {
    --color-white-100: #FFFFFF;
    --color-white-30: rgba(255, 255, 255, 0.3);
    --color-white-20: rgba(255, 255, 255, 0.2);

    --color-grey-300: #D9D9D9;
    --color-grey-200: #F3F5F4;
    --color-grey-100: #FDFDFD;
    --color-grey-60: rgba(253, 253, 253, 0.6);
    --color-grey-40: rgba(253, 253, 253, 0.4);

    --color-blue-300: #6276AA;
    --color-blue-200: #E3E6EE;
    --color-blue-100: #E1E3E4;

    --color-green-330: rgba(26, 62, 62, 0.3);
    --color-green-300: #1A3E3E;
    --color-green-200: #45766A;
    --color-green-100: #E5EEEB;

    --color-yellow-200: #F2BE22;
    --color-yellow-100: #F3F1E1;

    --color-black-200: #000000;
    --color-black-100: #18121E;

    --font-main: 'Nunito Sans', sans-serif;
    --font-second: 'NEXT ART', sans-serif;
}

html {
    font-family: var(--font-main), sans-serif;
}

.main-container {
    max-width: 1221px;
    width: 100%;
    margin: 0 auto;
    padding-inline: 20px;
    box-sizing: border-box;
}